:root {
  --m-bg-black: #000;
  --m-white: #fff;
  --m-dark-light: #707070;
  --m-blue-f4-active: #3c82f4;
  --m-blue-f7-btn-n: #306ef7;
  --m-blue-f9-btn: #326cf9;
  --m-blue-f2-step: #306ef7;
  --m-green: #0fc65c;
  --m-dark-light-c: #2d2d2d;
  --m-bg-dark: #0d0d0d;
  --m-font-dark: #919191;
}
